*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
html,body{
  height: 100%;
  width: 100%;

}
.card{
  background-color: beige;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}
.nav{
  background-color: bisque;
  padding: 20px;
  margin: 5px;
}